section {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  p {
      margin: 50% 0 0 0;
      display: flex;
      font-size: 32px;
      justify-content: center;
      align-content: center;
  }

  input {
    border: 4px solid darkgray;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
  }

  button {
    padding: 20px;
    font-size: xx-large;
    background: darkgray;
    border-radius: 5px;
    margin: 10px;
    color: white;
    cursor: pointer;
  }

  button:hover {
      color: darkgrey;
      background: white;
  }